In [113]:
import pandas as pd
import csv

players = pd.read_csv('basketballPlayoffs/players.csv', delimiter=",")
coaches = pd.read_csv('basketballPlayoffs/coaches.csv', delimiter=",")
teams = pd.read_csv('basketballPlayoffs/teams.csv', delimiter=",")
players_teams = pd.read_csv('basketballPlayoffs/players_teams.csv', delimiter=",")
teams_post = pd.read_csv('basketballPlayoffs/teams_post.csv', delimiter=",")
series_post = pd.read_csv('basketballPlayoffs/series_post.csv', delimiter=",")
awards_players = pd.read_csv('basketballPlayoffs/awards_players.csv', delimiter=",")
awards_coaches = pd.read_csv('basketballPlayoffs/awards_coaches.csv', delimiter=",")

print(players.head())
print(coaches)
print(teams)
print(players_teams)
print(teams_post)
print(series_post)
print(awards_players)
print(awards_coaches)


players.isnull().sum()
#players.describe()

     playerID  pos  firstseason  lastseason  height  weight
0  abrahta01w    C            0           0    74.0     190  \
1  abrossv01w    F            0           0    74.0     169
2  adairje01w    C            0           0    76.0     197
3  adamsda01w  F-C            0           0    73.0     239
4  adamsjo01w    C            0           0    75.0     180

             college            collegeOther   birthDate   deathDate
0  George Washington                     NaN  1975-09-27  0000-00-00
1        Connecticut                     NaN  1980-07-09  0000-00-00
2  George Washington                     NaN  1986-12-19  0000-00-00
3          Texas A&M  Jefferson College (JC)  1989-02-19  0000-00-00
4         New Mexico                     NaN  1981-05-24  0000-00-00
        coachID  year tmID  lgID  stint  won  lost  post_wins  post_losses
0    adamsmi01w     5  WAS  WNBA      0   17    17          1            2
1    adubari99w     1  NYL  WNBA      0   20    12          4            3
2    adubari99w     2  NYL  WNBA      0   21    11          3            3
3    adubari99w     3  NYL  WNBA      0   18    14          4            4
4    adubari99w     4  NYL  WNBA      0   16    18          0            0
..          ...   ...  ...   ...    ...  ...   ...        ...          ...
157  wintebr01w     6  IND  WNBA      0   21    13          2            2
158  wintebr01w     7  IND  WNBA      0   21    13          0            2
159  wintebr01w     8  IND  WNBA      0   21    13          3            3
160  zierddo99w     8  MIN  WNBA      0   10    24          0            0
161  zierddo99w     9  MIN  WNBA      0   16    18          0            0

[162 rows x 9 columns]
     year  lgID tmID franchID confID  divID  rank playoff  seeded firstRound
0       9  WNBA  ATL      ATL     EA    NaN     7       N       0        NaN  \
1      10  WNBA  ATL      ATL     EA    NaN     2       Y       0          L
2       1  WNBA  CHA      CHA     EA    NaN     8       N       0        NaN
3       2  WNBA  CHA      CHA     EA    NaN     4       Y       0          W
4       3  WNBA  CHA      CHA     EA    NaN     2       Y       0          L
..    ...   ...  ...      ...    ...    ...   ...     ...     ...        ...
137     6  WNBA  WAS      WAS     EA    NaN     5       N       0        NaN
138     7  WNBA  WAS      WAS     EA    NaN     4       Y       0          L
139     8  WNBA  WAS      WAS     EA    NaN     5       N       0        NaN
140     9  WNBA  WAS      WAS     EA    NaN     6       N       0        NaN
141    10  WNBA  WAS      WAS     EA    NaN     4       Y       0          L

     ...  GP homeW homeL  awayW  awayL  confW  confL   min  attend
0    ...  34     1    16      3     14      2     18  6825  141379  \
1    ...  34    12     5      6     11     10     12  6950  120737
2    ...  32     5    11      3     13      5     16  6475   90963
3    ...  32    11     5      7      9     15      6  6500  105525
4    ...  32    11     5      7      9     12      9  6450  106670
..   ...  ..   ...   ...    ...    ...    ...    ...   ...     ...
137  ...  34    10     7      6     11      9     11  6900  171501
138  ...  34    13     4      5     12     12      8  6850  133255
139  ...  34     8     9      8      9      8     12  6900  133255
140  ...  34     6    11      4     13      6     14  6825  154637
141  ...  34    11     6      5     12     10     12  6875  192747

                  arena
0         Philips Arena
1         Philips Arena
2    Charlotte Coliseum
3    Charlotte Coliseum
4    Charlotte Coliseum
..                  ...
137      Verizon Center
138      Verizon Center
139      Verizon Center
140      Verizon Center
141      Verizon Center

[142 rows x 61 columns]
        playerID  year  stint tmID  lgID  GP  GS  minutes  points  oRebounds
0     abrossv01w     2      0  MIN  WNBA  26  23      846     343         43  \
1     abrossv01w     3      0  MIN  WNBA  27  27      805     314         45
2     abrossv01w     4      0  MIN  WNBA  30  25      792     318         44
3     abrossv01w     5      0  MIN  WNBA  22  11      462     146         17
4     abrossv01w     6      0  MIN  WNBA  31  31      777     304         29
...          ...   ...    ...  ...   ...  ..  ..      ...     ...        ...
1871  zakalok01w     3      2  PHO  WNBA   5   0       37       6          0
1872   zarafr01w     6      0  SEA  WNBA  34   4      413      90         11
1873  zellosh01w    10      0  DET  WNBA  34   4      802     406         25
1874  zirkozu01w     4      0  WAS  WNBA   6   0       30      11          0
1875   zollsh01w     9      0  MIN  WNBA   6   0       30      10          1

      ...  PostBlocks  PostTurnovers  PostPF  PostfgAttempted  PostfgMade
0     ...           0              0       0                0           0  \
1     ...           0              0       0                0           0
2     ...           1              8       8               22           6
3     ...           2              3       7               23           8
4     ...           0              0       0                0           0
...   ...         ...            ...     ...              ...         ...
1871  ...           0              0       0                0           0
1872  ...           0              5       0                6           4
1873  ...           3              7      15               68          24
1874  ...           0              0       0                0           0
1875  ...           0              0       0                0           0

      PostftAttempted  PostftMade  PostthreeAttempted  PostthreeMade  PostDQ
0                   0           0                   0              0       0
1                   0           0                   0              0       0
2                   8           8                   7              3       0
3                   4           2                   8              2       0
4                   0           0                   0              0       0
...               ...         ...                 ...            ...     ...
1871                0           0                   0              0       0
1872                2           2                   1              1       0
1873               27          23                  17              7       0
1874                0           0                   0              0       0
1875                0           0                   0              0       0

[1876 rows x 43 columns]
    year tmID  lgID  W  L
0      1  HOU  WNBA  6  0
1      1  ORL  WNBA  1  2
2      1  CLE  WNBA  3  3
3      1  WAS  WNBA  0  2
4      1  NYL  WNBA  4  3
..   ...  ...   ... .. ..
75    10  SAS  WNBA  1  2
76    10  PHO  WNBA  7  4
77    10  SEA  WNBA  1  2
78    10  LAS  WNBA  3  3
79    10  WAS  WNBA  0  2

[80 rows x 5 columns]
    year round series tmIDWinner lgIDWinner tmIDLoser lgIDLoser  W  L
0      1    FR      A        CLE       WNBA       ORL      WNBA  2  1
1      1    FR      B        NYL       WNBA       WAS      WNBA  2  0
2      1    FR      C        LAS       WNBA       PHO      WNBA  2  0
3      1    FR      D        HOU       WNBA       SAC      WNBA  2  0
4      1    CF      E        HOU       WNBA       LAS      WNBA  2  0
..   ...   ...    ...        ...        ...       ...       ... .. ..
65    10    FR      C        IND       WNBA       WAS      WNBA  2  0
66    10    FR      D        DET       WNBA       ATL      WNBA  2  0
67    10    CF      E        PHO       WNBA       LAS      WNBA  2  1
68    10    CF      F        IND       WNBA       DET      WNBA  2  1
69    10     F      G        PHO       WNBA       IND      WNBA  3  2

[70 rows x 9 columns]
      playerID                                   award  year  lgID
0   thompti01w      All-Star Game Most Valuable Player     1  WNBA
1   leslili01w      All-Star Game Most Valuable Player     2  WNBA
2   leslili01w      All-Star Game Most Valuable Player     3  WNBA
3   teaslni01w      All-Star Game Most Valuable Player     4  WNBA
4   swoopsh01w      All-Star Game Most Valuable Player     6  WNBA
..         ...                                     ...   ...   ...
80  boltoru01w  WNBA All Decade Team Honorable Mention     7  WNBA
81  holdsch01w  WNBA All Decade Team Honorable Mention     7  WNBA
82  penicti01w  WNBA All Decade Team Honorable Mention     7  WNBA
83  tauradi01w  WNBA All Decade Team Honorable Mention     7  WNBA
84  weathte01w  WNBA All Decade Team Honorable Mention     7  WNBA

[85 rows x 4 columns]
      coachID              award  year  lgID
0  coopemi01w  Coach of the Year     1  WNBA
1  hugheda99w  Coach of the Year     2  WNBA
2  stanlma99w  Coach of the Year     3  WNBA
3  laimbbi01w  Coach of the Year     4  WNBA
4  mcconsu01w  Coach of the Year     5  WNBA
5  whisejo99w  Coach of the Year     6  WNBA
6  thibami99w  Coach of the Year     7  WNBA
7  hugheda99w  Coach of the Year     8  WNBA
8  thibami99w  Coach of the Year     9  WNBA
9  meadoma99w  Coach of the Year    10  WNBA

playerID          0
pos              78
firstseason       0
lastseason        0
height            0
weight            0
college         167
collegeOther    882
birthDate         0
deathDate         0
dtype: int64

In [114]:
# to delete:  deathDate, collegeOther, , firstseason, lastseason linhas com pos=""
# show all players that have Pos: nullpd.set_option('display.max_rows', None)
print(players.isna().sum())
players = players.drop(columns=['collegeOther', 'deathDate', 'firstseason', 'lastseason'])
players = players[players['pos'] != ""]
print(players.head())

playerID          0
pos              78
firstseason       0
lastseason        0
height            0
weight            0
college         167
collegeOther    882
birthDate         0
deathDate         0
dtype: int64
     playerID  pos  height  weight            college   birthDate
0  abrahta01w    C    74.0     190  George Washington  1975-09-27
1  abrossv01w    F    74.0     169        Connecticut  1980-07-09
2  adairje01w    C    76.0     197  George Washington  1986-12-19
3  adamsda01w  F-C    73.0     239          Texas A&M  1989-02-19
4  adamsjo01w    C    75.0     180         New Mexico  1981-05-24

In [115]:
# to delete: lgID, post_wins, post_losses
print(coaches.isna().sum())
coaches = coaches.drop(columns=['lgID', 'post_wins', 'post_losses'])
print(coaches.head())

coachID        0
year           0
tmID           0
lgID           0
stint          0
won            0
lost           0
post_wins      0
post_losses    0
dtype: int64
      coachID  year tmID  stint  won  lost
0  adamsmi01w     5  WAS      0   17    17
1  adubari99w     1  NYL      0   20    12
2  adubari99w     2  NYL      0   21    11
3  adubari99w     3  NYL      0   18    14
4  adubari99w     4  NYL      0   16    18

In [116]:
# to delete: lgID, divID, seeded, tmORB, tmDRB, tmTRB, opptmORB, opptmDRB, opptmTRB, rank, firstRound, semis, finals
print(teams.isna().sum())
   
teams = teams.drop(columns=['lgID', 'divID', 'seeded', 'tmORB', 'tmDRB', 'tmTRB', 'opptmORB', 'opptmDRB', 'opptmTRB'])
teams = teams.drop(columns=['rank', 'firstRound', 'semis', 'finals'])

print(teams.head())

year        0
lgID        0
tmID        0
franchID    0
confID      0
           ..
confW       0
confL       0
min         0
attend      0
arena       0
Length: 61, dtype: int64
   year tmID franchID confID playoff             name  o_fgm  o_fga  o_ftm
0     9  ATL      ATL     EA       N    Atlanta Dream    895   2258    542  \
1    10  ATL      ATL     EA       Y    Atlanta Dream   1089   2428    569
2     1  CHA      CHA     EA       N  Charlotte Sting    812   1903    431
3     2  CHA      CHA     EA       Y  Charlotte Sting    746   1780    410
4     3  CHA      CHA     EA       Y  Charlotte Sting    770   1790    490

   o_fta  ...  GP  homeW  homeL  awayW  awayL  confW  confL   min  attend
0    725  ...  34      1     16      3     14      2     18  6825  141379  \
1    755  ...  34     12      5      6     11     10     12  6950  120737
2    577  ...  32      5     11      3     13      5     16  6475   90963
3    528  ...  32     11      5      7      9     15      6  6500  105525
4    663  ...  32     11      5      7      9     12      9  6450  106670

                arena
0       Philips Arena
1       Philips Arena
2  Charlotte Coliseum
3  Charlotte Coliseum
4  Charlotte Coliseum

[5 rows x 48 columns]

In [117]:
# to delete: lgID 
# "PostGP","PostGS","PostMinutes","PostPoints","PostoRebounds","PostdRebounds","PostRebounds","PostAssists","PostSteals",
# "PostBlocks","PostTurnovers","PostPF","PostfgAttempted","PostfgMade","PostftAttempted","PostftMade","PostthreeAttempted","PostthreeMade","PostDQ"

#print(players_teams.isna().sum())
players_teams = players_teams.drop(columns=['lgID', "PostGP","PostGS","PostMinutes","PostPoints","PostoRebounds","PostdRebounds","PostRebounds","PostAssists","PostSteals","PostBlocks","PostTurnovers","PostPF","PostfgAttempted","PostfgMade","PostftAttempted","PostftMade","PostthreeAttempted","PostthreeMade","PostDQ"])
print(players_teams.head())

     playerID  year  stint tmID  GP  GS  minutes  points  oRebounds
0  abrossv01w     2      0  MIN  26  23      846     343         43  \
1  abrossv01w     3      0  MIN  27  27      805     314         45
2  abrossv01w     4      0  MIN  30  25      792     318         44
3  abrossv01w     5      0  MIN  22  11      462     146         17
4  abrossv01w     6      0  MIN  31  31      777     304         29

   dRebounds  ...  blocks  turnovers  PF  fgAttempted  fgMade  ftAttempted
0        131  ...       9         85  70          293     114          132  \
1        101  ...      10         92  73          316     119          116
2         97  ...      11         90  79          285     112           98
3         57  ...       2         43  42          139      49           46
4         78  ...       6         80  86          276     109           73

   ftMade  threeAttempted  threeMade  dq
0      96              76         19   2
1      56              60         20   0
2      69              82         25   0
3      28              53         20   0
4      53              82         33   0

[5 rows x 23 columns]

In [118]:
# to delete: lgID
#print(awards_players.isna().sum()) 
awards_players = awards_players.drop(columns=['lgID'])
print(awards_players.head())

     playerID                               award  year
0  thompti01w  All-Star Game Most Valuable Player     1
1  leslili01w  All-Star Game Most Valuable Player     2
2  leslili01w  All-Star Game Most Valuable Player     3
3  teaslni01w  All-Star Game Most Valuable Player     4
4  swoopsh01w  All-Star Game Most Valuable Player     6

In [119]:
# to delete: lgID
#print(awards_players.isna().sum()) 
awards_coaches = awards_coaches.drop(columns=['lgID'])
print(awards_coaches.head())

      coachID              award  year
0  coopemi01w  Coach of the Year     1
1  hugheda99w  Coach of the Year     2
2  stanlma99w  Coach of the Year     3
3  laimbbi01w  Coach of the Year     4
4  mcconsu01w  Coach of the Year     5

In [120]:
merge_players_players_teams = pd.merge(players, players_teams, how='inner', on='playerID')
merge_players_players_teams.head()
merge_players_players_teams.to_csv('players_players_teams.csv', index=False)

In [121]:
merge_teams_players_teams = pd.merge(merge_players_players_teams, teams, on=['tmID', 'year'] , how='inner')
merge_teams_players_teams.to_csv('teams_players_teams.csv', index=False)
merge_teams_players_teams.head()

,playerID,pos,height,weight,college,birthDate,year,stint,tmID,GP_x,...,GP_y,homeW,homeL,awayW,awayL,confW,confL,min,attend,arena
0,abrossv01w,F,74.0,169,Connecticut,1980-07-09,2,0,MIN,26,...,32,6,10,6,10,9,12,6475,120607,Target Center
1,burseja01w,C,77.0,199,Tulane,1979-05-19,2,0,MIN,20,...,32,6,10,6,10,9,12,6475,120607,Target Center
2,harrokr01w,G,64.0,139,NaN,1975-03-04,2,0,MIN,4,...,32,6,10,6,10,9,12,6475,120607,Target Center
3,lennobe01w,G,68.0,143,Louisiana Tech,1976-12-04,2,0,MIN,11,...,32,6,10,6,10,9,12,6475,120607,Target Center
4,martima01w,F,76.0,172,UCLA,1978-04-17,2,0,MIN,31,...,32,6,10,6,10,9,12,6475,120607,Target Center

In [122]:
merge_coaches_players_teams = pd.merge(merge_teams_players_teams, coaches, on=['tmID', 'year'], how='inner')
merge_coaches_players_teams.to_csv('merge_coaches_players_teams.csv', index=False)
merge_coaches_players_teams.head()

,playerID,pos,height,weight,college,birthDate,year,stint_x,tmID,GP_x,...,awayL,confW,confL,min,attend,arena,coachID,stint_y,won_y,lost_y
0,abrossv01w,F,74.0,169,Connecticut,1980-07-09,2,0,MIN,26,...,10,9,12,6475,120607,Target Center,aglerbr99w,0,12,20
1,burseja01w,C,77.0,199,Tulane,1979-05-19,2,0,MIN,20,...,10,9,12,6475,120607,Target Center,aglerbr99w,0,12,20
2,harrokr01w,G,64.0,139,NaN,1975-03-04,2,0,MIN,4,...,10,9,12,6475,120607,Target Center,aglerbr99w,0,12,20
3,lennobe01w,G,68.0,143,Louisiana Tech,1976-12-04,2,0,MIN,11,...,10,9,12,6475,120607,Target Center,aglerbr99w,0,12,20
4,martima01w,F,76.0,172,UCLA,1978-04-17,2,0,MIN,31,...,10,9,12,6475,120607,Target Center,aglerbr99w,0,12,20

In [123]:
merge_award_teams = pd.merge(merge_coaches_players_teams, awards_players, on=['playerID', 'year'], how='outer')
merge_award_teams.to_csv('merge_award_teams_post.csv', index=False)
merge_award_teams.head()

,playerID,pos,height,weight,college,birthDate,year,stint_x,tmID,GP_x,...,confW,confL,min,attend,arena,coachID,stint_y,won_y,lost_y,award
0,abrossv01w,F,74.0,169.0,Connecticut,1980-07-09,2,0.0,MIN,26.0,...,9.0,12.0,6475.0,120607.0,Target Center,aglerbr99w,0.0,12.0,20.0,NaN
1,burseja01w,C,77.0,199.0,Tulane,1979-05-19,2,0.0,MIN,20.0,...,9.0,12.0,6475.0,120607.0,Target Center,aglerbr99w,0.0,12.0,20.0,NaN
2,harrokr01w,G,64.0,139.0,NaN,1975-03-04,2,0.0,MIN,4.0,...,9.0,12.0,6475.0,120607.0,Target Center,aglerbr99w,0.0,12.0,20.0,NaN
3,lennobe01w,G,68.0,143.0,Louisiana Tech,1976-12-04,2,0.0,MIN,11.0,...,9.0,12.0,6475.0,120607.0,Target Center,aglerbr99w,0.0,12.0,20.0,NaN
4,martima01w,F,76.0,172.0,UCLA,1978-04-17,2,0.0,MIN,31.0,...,9.0,12.0,6475.0,120607.0,Target Center,aglerbr99w,0.0,12.0,20.0,NaN

In [124]:
final = pd.merge(merge_award_teams, awards_coaches, on=['coachID', 'year'], how='outer')
final.to_csv('final.csv', index=False)
#final.drop('')
final.tail()

,playerID,pos,height,weight,college,birthDate,year,stint_x,tmID,GP_x,...,confL,min,attend,arena,coachID,stint_y,won_y,lost_y,award_x,award_y
2158,salesny01w,G-F,72.0,184.0,Connecticut,1976-05-10,1,0.0,ORL,32.0,...,8.0,6500.0,117810.0,Amway Arena,peckca99wc,0.0,16.0,16.0,NaN,NaN
2159,smithla01w,G,67.0,150.0,Mississippi State,1974-02-06,1,0.0,ORL,3.0,...,8.0,6500.0,117810.0,Amway Arena,peckca99wc,0.0,16.0,16.0,NaN,NaN
2160,coopecy01w,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WNBA All-Decade Team,NaN
2161,boltoru01w,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WNBA All Decade Team Honorable Mention,NaN
2162,weathte01w,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WNBA All Decade Team Honorable Mention,NaN

target label: 'playoff'
to know if a team in a given year will make it to the playoffs

In [125]:
#from sklearn.model_selection import train_test_split
#from sklearn.tree import DecisionTreeClassifier

#X = final.drop('playoff', axis=1)
#y = final['playoff']

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, train_size=0.8)

In [126]:
from datetime import datetime

final['birthDate'].fillna(0, inplace=True)

# Define a function to calculate age from a date string
def calculate_age(date_str):
    if date_str == 0: return
    
    date_of_birth = datetime.strptime(str(date_str), "%Y-%m-%d")
    current_date = datetime.now()
    age_timedelta = current_date - date_of_birth
    age_years = age_timedelta.days // 365  # This is a simple approximation
    return int(age_years)

# Apply the function to the "date_of_birth" column and create a new "age" column
final['birthDate'] = final['birthDate'].apply(calculate_age)
final.rename(columns={'birthDate': 'age'}, inplace=True)

# Save the DataFrame back to a new CSV file with the "age" column
final.to_csv("data_with_age.csv", index=False)

In [127]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from datetime import datetime

# Assuming df is your DataFrame containing the dataset
# Drop non-essential columns, such as player ID
final = final.drop(columns=['playerID', 'coachID'])

final.to_csv("final.csv", index=False)

# Split the data into features (X) and the target variable (y)
X = final.drop('playoff', axis=1)
y = final['playoff']

# Perform one-hot encoding for categorical variables
X = pd.get_dummies(X, columns=['pos', 'college', 'franchID', 'confID'])



# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the Decision Tree model
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)

ValueError: could not convert string to float: 'SAC'