In [1]:
import pandas as pd

data = pd.read_csv("basketballPlayoffs/coaches.csv", na_filter=True)

data.head()

        coachID  year tmID  lgID  stint  won  lost  post_wins  post_losses
0    adamsmi01w     5  WAS  WNBA      0   17    17          1            2
1    adubari99w     1  NYL  WNBA      0   20    12          4            3
2    adubari99w     2  NYL  WNBA      0   21    11          3            3
3    adubari99w     3  NYL  WNBA      0   18    14          4            4
4    adubari99w     4  NYL  WNBA      0   16    18          0            0
..          ...   ...  ...   ...    ...  ...   ...        ...          ...
157  wintebr01w     6  IND  WNBA      0   21    13          2            2
158  wintebr01w     7  IND  WNBA      0   21    13          0            2
159  wintebr01w     8  IND  WNBA      0   21    13          3            3
160  zierddo99w     8  MIN  WNBA      0   10    24          0            0
161  zierddo99w     9  MIN  WNBA      0   16    18          0            0

[162 rows x 9 columns]